@model BusTravels.Models.Bus

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("CreateAccount", "Home"))
{
    <p>
        @{
            List<SelectListItem> listItems = new List<SelectListItem>();
            listItems.Add(new SelectListItem
            {
                Text = "BGl",
                Value = "BGL"
            });
            listItems.Add(new SelectListItem
            {
                Text = "CHN",
                Value = "CHN",
            });
            listItems.Add(new SelectListItem
            {
                Text = "PUN",
                Value = "PUN"
            });

            listItems.Add(new SelectListItem
            {
                Text = "HYD",
                Value = "HYD"
            });

            listItems.Add(new SelectListItem
            {
                Text = "MUM",
                Value = "MUM"
            });
        }

        @Html.DropDownListFor(model => model.BoardingPoint, listItems)
    </p>

    <p>
        TravelDate: @Html.TextBoxFor(model => model.TravelDate)
    </p>

    <p>
        Amount: @Html.TextBoxFor(model => model.Amount)
    </p>

    <p>
        Rating: @Html.TextBoxFor(model => model.Rating)
    </p>


    using (Html.BeginForm())
    {
        <div>@ViewData["error"]</div>
        <input type="submit" value="Update Customer" class="btn btn-success" name="submitButton" />
    }
}





<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}